nav {
    flex: 1;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background-color: coral;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  @media screen and (max-width: 768px) {
    nav {
      position: static;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  }
  